<!DOCTYPE html>
<html>
<head>
  <title>CoffeeFilter</title>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= stylesheet_link_tag    'application', 'http://fonts.googleapis.com/css?family=Courgette|Dosis:400,700' %>
      <%= csrf_meta_tags %>
      <script src="https://code.createjs.com/soundjs-0.6.1.min.js"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

  <div class="nav-menu">
    <%= link_to pages_home_path do  %>
      <span class="site-title">coffeeFilter</span>
    <% end %>

    <%= link_to pages_about_path do  %>
      <span class="about">About</span>
    <% end %>

    <%= link_to recipes_path do  %>
      <span class="about">
        Recipes
      </span>
    <% end %>

    <% if logged_in? %>
      <span class="login">
        <%= link_to "Log Out", logout_path, method: :delete %>
      </span>
    <% else %>
      <span class="login">
        <%= link_to "Log In", new_user_session_path %> /
        <%= link_to "Join", new_user_path %>
      </span>
    <% end %>

  </div>

  <div class="outer-container">

<%= yield %>
  </div>
</body>
</html>
